.container {
  height: 100vh;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.main {
  width: 400px;
  height: 400px;
  box-shadow: 6px 6px 14px #666;
  border-radius: 20px;
  padding: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.btns {
  margin: 20px;
}
.btn {
  height: 70px;
  width: 200px;
  margin: 10px;
  background-color: tomato;
  border-radius: 15px;
  color: white;
  font-size: 20px;
}
.category {
  margin-top: 10px;
}
#class {
  margin: 10px;
  width: 50%;
  font-size: 20px;
}
.item {
  width: 50%;
  margin: auto;
}
