.App {
  text-align: center;
}
.my-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  background-color: #999;
}
.my-nav-item {
  padding: 10px;
  font-size: 16px;
  display: block;
}
.my-nav-item:hover {
  background-color: #000;
  color: white;
}
